* {
    margin: 0;
}

#cabecalho {
    background-color: lightgray;
    padding: 15px;
}

.Logo {
    width: 50px;
}

#introducao {
    text-align: center;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

#introducao h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

#introducao p {
    font-size: 1.5rem;
    color: #555;
}


.container {
    display: flex;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    justify-content: center;
}

.card img {
    width: 500px;
    max-width: 300px;
    object-fit: contain;
    background-color: #fff;
    padding: 15px;
    border-radius: 25px;
}

.card {
    width: 100%;
    max-width: 500px;
    background-color: #eaeaea;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    background-color: blueviolet;
    transform: scale(1.02);
}

.card h2,
p {
    color: black;
    margin-bottom: 20px;
}

.card p {
    font-size: 20px;
}

@media (max-width:780px) {
    #introducao h1 {
        font-size: 2rem;
    }

    #introducao p {
        font-size: 1.2rem;
    }

    .card {
        max-width: 100%;
    }
}